extends layout

block content
  div(class='container')
    div(class='top-spacer')
    div(class='row')
      h2 Invalid location.
    div(class='row')
      a(class='button' href='/') Try Again
    footer
      div © 2016 Brian Buchholz
      div A lightweight web app for the <a href='https://a-k-apart.com/' target='_blank'>10k Apart Contest</a>.
