html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.2;
  color: #444;
  margin: 0;
}
footer,
header,
main,
nav,
section {
  display: block;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container.narrow {
  max-width: 360px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
p { margin-top: 0; }
h3 { font-size: 2rem; }

a {
  text-decoration: none;
  color: #55AA55;
}

a:hover,
a:active {
  color: #2D882D;
}


.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin: 10px 0 30px 0;
}

.center {
  text-align: center;
}

input,
select {
  color: inherit;
  font: inherit;
}
input[type="text"],
select {
  height: 38px;
  width: 100%;
  padding: 6px 10px;
  background-color: #fff;
  color: #555;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]:focus,
select:focus {
  border: 1px solid #55AA55;
  outline: 0;
}
select {
  text-transform: none;
}
label {
  display: block;
  margin-bottom: .5rem;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

a.button,
input[type="submit"] {
  display: inline-block;
  height: 38px;
  font-size: 11px;
  width: 100%;
  padding: 0 30px;
  color: #555;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1rem;
  line-height: 38px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #BBB;
  cursor: pointer;
  box-sizing: border-box;
}
a.button:hover,
a.botton:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

input[type="submit"].primary {
  color: #FFF;
  background-color: #55AA55;
  border-color: #55AA55;
}
input[type="submit"].primary:hover,
input[type="submit"].primary:focus {
  color: #FFF;
  background-color: #2D882D;
  border-color: #2D882D;
}

#save-label {
  float: left;
}
#clear {
  display: block;
  text-align: right;
}

.top-spacer {
  height: 80px;
}

div.restaurant-card {
  border-radius: 9px;
  border: 1px solid #666;
}
div.restaurant-card > h3 {
  padding: 20px;
  color: #fff;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 8px 8px 0 0;
}
div.restaurant-info {
  padding: 20px;
  padding-top: 0;
}
div.address,
div.rating {
  margin: 20px 0;
}
div.rating {
  font-size: .8rem;
  line-height: 22px;
}
div.rating > img {
  vertical-align: bottom;
}

div.categories > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.categories > ul > li {
  display: inline-block;
}
div.categories a {
  font-size: 0.8rem;
  text-transform: lowercase;
  display: inline-block;
  padding: 6px;
  border-radius: 4px;
  margin: 3px 6px 3px 0;
  color: #FFF;
  background-color: #55AA55;
}
div.categories a:active,
div.categories a:hover {
  background-color: #2D882D;
}

footer {
  text-align: center;
  margin: 70px 0 20px 0;
  font-size: 12px;
  line-height: 24px;
}
img#yelp-logo {
  vertical-align: middle;
}
